.title{
    margin-top: 40px;
}


.block{
    background-color: #f8f8f8;
    width: 210px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: 15px;
    margin-top: -160px;
    font-family: Verdana;
    font-size: 14px;
}


.address{
    font-family: Verdana; 
    font-size: 14px;
    width: 490px;
}


.management{
    margin-top: 25px;  
    font-family: Verdana; 
    font-size: 14px;
}

.btn{
    margin-top: 30px; 
}


.numbers{
    padding-top: 15px; 
    padding-left: 15px;
}


.img{
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: row;
    margin-top: 48px;
    margin-left: 25px;
}


.p{
	display: flex;
	justify-content: center;
	font-family: Verdana, sans-serif;
	align-items: left;
	flex-direction: row;
	font-size: 14px;
    width: 315px;
    height: 46px;
    color: #777777;
    margin-top: -55px;
    margin-left: 125px;
}

.head{
    margin-top: 32px;
    margin-bottom: 2px;
    margin-left: 24px;	
    font-size: 15px;
}